<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/main :: head" />

<body>

    <div id="wrapper">

        <nav th:replace="fragments/navigation :: navbar"  />

        <div id="page-wrapper">
            
           		<div th:replace="fragments/main :: messages" />
           
	            <div class="row" >
	                <div class="col-lg-12">
	                <th:block th:if="${jogosPendentes == 0}">
	                	<a href="/palpite/editar">
		                    <div class="progress">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
							  aria-valuemin="0" aria-valuemax="100" 
							  th:style="${'width:' + #numbers.formatDecimal(autenticacao.participante.porcentagemPalpites,2,0) + '%'}" 
							  th:text="${#numbers.formatDecimal(autenticacao.participante.porcentagemPalpites,2,1,'COMMA') + '% dos palpites preenchidos'}">
							    40% 
							  </div>
						  </a>
					</th:block>  
					<th:block th:if="${jogosPendentes > 0}">
						<div class="panel panel-danger">
		            		<div class="panel-heading">
		            		[[${autenticacao.usuario.name}]], existem [[${jogosPendentes}]] novo(s) jogo(s) pendentes para criação de palpites.
		            		</div>
		            		<div class="panel-body text-center">
		            		<a class="btn btn-danger" href="/palpite/editar">Editar palpites Agora!</a> 
		            		</div>
		            	</div>
					</th:block>
					</div>
               </div>
          
            
             
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" th:text="${qtdParticipantes}">38</div>
                                    <div>Participantes!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/copaAmerica2019/participantes">
                            <div class="panel-footer">
                                <span class="pull-left">Veja quem são!</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-usd fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" th:text="${premioEstimado}">R$ 1.500,00</div>
                                    <div>Prêmio Estimado!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/copaAmerica2019/regulamento">
                            <div class="panel-footer">
                                <span class="pull-left">Saiba mais</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-trophy fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><span th:text="${session.autenticacao.participante.pontuacao}">1340</span> pts</div>
                                    <div><span th:text="${session.autenticacao.participante.classificacao}">1</span>ª  colocado</div>
                                </div>
                            </div>
                        </div>
                        <a href="/copaAmerica2019/ranking">
                            <div class="panel-footer">
                                <span class="pull-left">Ranking completo</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-book fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div>Consulte o  Regulamento!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/copaAmerica2019/regulamento">
                            <div class="panel-footer">
                                <span class="pull-left">Leia agora</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            
            
            <div class="panel panel-default">
               <div class="panel-heading">
                   <i class="fa fa-bar-chart-o fa-fw"></i> Pontuação por dia
               </div>
               <div class="panel-body">
                   <div id="morris-area-chart"></div>
               </div>
            </div>
             
            
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Próximos Jogos 
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Outros Palpites
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Opção Bloqueada</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 10px">
                            <div th:replace="fragments/game_cards :: cards"></div>
                            
                            <a href="/palpite/consultar" class="btn btn-default btn-block">Ver todos os meus palpites</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-tachometer fa-fw"></i> TOP 10
                        </div>
                        <!-- /.panel-heading -->
                        <style>
			        	.participante td{
			        		background-color: #eee;
			        	}
			        	</style>
                        <table class="table">
                        	<thead>
                        		<tr>
                        			<th></th>
                        			<th>Jogador</th>
                        			<th>Pontos</th>
                        			<th>Aproveitamento</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<th:block th:each="participante : ${top10}">
	                        		<tr th:class="${participante.id == autenticacao.participante.id ? 'participante' : ''}">
	                        			<td><bage th:if="${participante.exibirClassificacaoNoRanking}" th:text="${participante.classificacao + 'ª'}">1</bage></td>
	                        			<td th:id="${participante.id}" ><a th:href="${'/palpite/'+participante.id+'/consultar'}" th:text="${participante.usuario.name}">Dnarte</a></td>
	                        			<td th:text="${participante.pontuacao}">180</td>
	                        			<td><span th:text="${participante.aproveitamento}">100</span>%</td>
	                        		</tr>
                        		</th:block>
                        	</tbody>
                        
                        	<tfoot>
                        		<tr>
                        			<td colspan="4">
                        				<a href="/copaAmerica2019/ranking" class="btn btn-default btn-block">Ver Ranking completo</a>
                        			</td>
                        		</tr>
                        	</tfoot>
                        
                        </table>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                  
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <srcript th:replace="fragments/main :: scrptsblock" />
    
    <script>
    
    	$(function() {
			  $.ajax({
			    type:"GET", 
			    url: "/chart/desempenho/[[${autenticacao.participante.id}]]", 
			    success: function(data) {
			    
			    		data.xLabelFormat = function(x){return formatDate(x)};
			    		data.dateFormat = function(x){return formatDate(new Date(x))};
			    
			    		Morris.Line(data);
			        }, 
			    error: function(jqXHR, textStatus, errorThrown) {
			            alert(jqXHR.status);
			        },
			   dataType: "json"
			});
		});	
    </script>
    

</body>

</html>
