<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/main :: head" />

<body>

    <div id="wrapper">

        <nav th:replace="fragments/navigation :: navbar"  />

        <div id="page-wrapper">
 
            <div th:replace="fragments/main :: messages"></div>
        
        	<div class="row">
                <div class="col-lg-8">
                    <h1 class="page-header" th:text="${session.autenticacao.bolao.nome}">Descrição do Bolão</h1>
                    <h3>Ver os palpites de <span th:text="${participanteConsultado.usuario.name}"></span></h3>
                </div>
                <div class="col-lg-4" style="vertical-align: middle; text-align: center; padding: 8px;" >
	                <div class="btn-group">
					  <a th:href="${'/palpite/'+participanteConsultado.id+'/consultar'}" class="btn btn-primary active">Cards</a>
					  <a th:href="${'/palpite/'+participanteConsultado.id+'/consultar/tab'}" class="btn btn-primary">Tabela</a>
					</div>
                </div> 
            </div>
             <div class="row text-center">
                  <img th:src="${participanteConsultado.usuario.urlFoto}" class="img-perfil" />
                	<br />
                 	<span th:text="${participanteConsultado.usuario.name}"></span>
                 	<br />
              </div>
            
            <div class="panel panel-default">
               <div class="panel-heading">
                   <i class="fa fa-bar-chart-o fa-fw"></i> Pontuação por dia
               </div>
               <div class="panel-body">
                   <div id="morris-area-chart" class="text-danger text-center"></div>
               </div>
            </div>
            
            <div th:replace="fragments/game_cards :: cards"></div>
        
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <srcript th:replace="fragments/main :: scrptsblock" />
    
    <script>
    
    	$(function() {
			  $.ajax({
			    type:"GET", 
			    url: "/chart/desempenho/[[${participanteConsultado.id}]]", 
			    success: function(data) {

			    		data.xLabelFormat = function(x){return formatDate(x)};
			    		data.dateFormat = function(x){return formatDate(new Date(x))};
			    
			    		
			    		if (data.data.length > 0)
			    			Morris.Line(data);
			    		else 
		    				$("#morris-area-chart").text("Ainda sem dados o suficiente para analisar seu desempenho.");
			    	
			        }, 
			    error: function(jqXHR, textStatus, errorThrown) {
			            alert(jqXHR.status);
			        },
			   dataType: "json"
			});
		});	
    </script>

</body>

</html>
