<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/main :: head" />

<body>

    <div id="wrapper">

        <nav th:replace="fragments/navigation :: navbar"  />

        <div id="page-wrapper">
        
        	<div class="row">
                <div class="col-lg-10">
                    <h1 class="page-header" th:text="${bolao.nome}">Descriçãoo do Bolão</h1>
                    <h3>Ranking Completo</h3>
                </div>
                <div class="col-lg-2" style="margin-top:29px; text-align:center;">
                	<a th:href="${'#'+autenticacao.participante.id}" class="btn btn-primary">Me localize!</a>
                </div>
            </div>
        	
        	<style>
        	.participante td{
        		background-color: #eee;
        	}
        	</style>
        
           <table class="table">
                        	<thead>
                        		<tr>
                        			<th></th>
                        			<th>Jogador</th>
                        			<th>Pontos</th>
                        			<th>Aproveitamento</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<th:block th:each="participante : ${participantes}">
	                        		<tr th:class="${participante.id == autenticacao.participante.id ? 'participante' : ''}">
	                        			<td><bage th:if="${participante.exibirClassificacaoNoRanking}" th:text="${participante.classificacao + 'ª'}">1</bage></td>
	                        			<td th:id="${participante.id}" ><a th:href="${'/palpite/'+participante.id+'/consultar'}" th:text="${participante.usuario.name}">Dnarte</a></td>
	                        			<td th:text="${participante.pontuacao}">180</td>
	                        			<td><span th:text="${participante.aproveitamento}">100</span>%</td>
	                        		</tr>
                        		</th:block>
                        	</tbody>
                        </table>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <srcript th:replace="fragments/main :: scrptsblock" />
    

</body>

</html>
