<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/main :: head" />

<body>

    <div id="wrapper">

        <nav th:replace="fragments/navigation :: navbar"  />

        <div id="page-wrapper">
        
        	<div class="row">
                <div class="col-lg-10">
                    <h1 class="page-header" th:text="${autenticacao?.bolao?.nome}">Descrição do Bolão</h1>
                    <h3>Jogos</h3>
                </div>
                <div class="col-lg-2" style="vertical-align: middle; text-align: center; padding: 8px;">
                	<a href="/jogo/novo" class="btn btn-primary"> + Novo Jogo</a>
                </div>
            </div>
            
            <div class="form-group">
			    <label for="execucao">Ordenar lista de jogos por:</label>
			  	<select class="form-control" id="ordenacao" onchange="window.location.href='/jogo/listar/filterBy/all/orderBy/' + $(this).val()">
			  		<option th:each="o : ${ordenacoesList}"
			          th:value="${o['key']}" 
			          th:text="${o['value']}"
			          th:selected="${(o['key'] == orderBy)}">Previsto</option>
			  	</select>
			  	</form>
			  </div>
       
	            <table class="table">
	            	<thead>
	            		<tr>
	            			<th class="text-center" colspan="2"> Jogo </th>
	            			<th width="3%">Editar</th>
	            		</tr>
	            	</thead>
	            	<tbody>
	            		<th:block th:each="jogo : ${jogoList}">
	             		<tr>
	             			<td class="text-left" width="25%">
	             				<img th:src="${jogo.fase.competicao.logoUrl}" height="30px" /> <span class="text-primary" th:text="${jogo.fase.competicao.nome}">Competição</span> <br />
	             				<span class="text-center text-warning" style="display: block;" th:text="${jogo.fase.nome}">Fase</span>
	             				<span th:class="${jogo.colorClass + ' text-center'}" style="display:block;" th:text="${jogo.grupo}"><strong>Grupo A</strong></span> <br />
	             			</td>
	             			<td  class="text-left">
	             				<span th:text="${jogo.execucao}" class="badge">Previsto</span><br />
	             				<span th:utext="${jogo.timesDescricao}"> Time a x Time b </span><br />
	             				Data do Jogo: <span class="text-primary" th:text=" ${#temporals.format(jogo.data, 'dd/MMM/yyyy HH:mm')}">X/XX/XXXX XX:XX</span> <br />
	             				Limite do Palpite: <span class="text-danger" th:text=" ${#temporals.format(jogo.limiteAposta, 'dd/MMM/yyyy HH:mm')}">X/XX/XXXX XX:XX</span> <br />
	             			</td>
	             			
	             			<td  width="3%">
	             				<a class="btn btn-primary" th:href="${'/jogo/' +jogo.id+'/editar'}"
		                        				data-toggle="tooltip" 
		                        				data-placement="top" 
		                        				title="Editar Dados do Jogo">
		                        				<span class="glyphicon glyphicon-pencil"></span>
		                        			</a>
	             			</td>
	             		</tr>
	            		</th:block>
	            	</tbody>
	            </table>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <srcript th:replace="fragments/main :: scrptsblock" />
    

</body>


</html>
