.navbar {
background-image: url("/img/campo_de_futebol.jpg");
background-position: center;
border-top: 2px solid #eee;
}

a.navbar-brand {
	text-shadow: 0 0 2px green; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px green;
    -webkit-text-shadow: 0 0 2px green;
    font-weight: bolder;
    color: white;
}

#page-wrapper {
	padding-top: 50px;
}

.title_warpper {
	height: 42px;
	padding-top: 0px;
	margin-top: 0px;
	
}

.title {
	font-size: 18px;
	padding: 5px;
	text-shadow: 0 0 5px green; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 5px green;
    -webkit-text-shadow: 0 0 5px green;
    font-weight: bolder;
    color: white;
}

.navbar-toggle {
	background-color: #fff;
}


.img-perfil {
	max-width: 100px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #ccc;
}

img.img-perfil-peq {
    max-width: 60px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #ccc;
}

.panel-body{
            
            padding: 4px
            }
            
            .panel-heading {
             	text-align: center;
            }
            
            
            .tab-jogo{
            	width: 100%;
            	
            }
            
            .tab-jogo .desc-p{
  	          text-align: center;
            }
            .tab-jogo .vs{
            	width: 20%;
            	text-align: center;
            	vertical-align: middle;
            }
            .tab-time .vs{
            	width: 20%;
            }
            
            .data_h{
            	text-align: center;
            	color: #ccc;
            	font-weight: bold;
            }
            
            .p-valor{
            	width:30%;
            	text-align: center;
            }
            
            .p-compara{
            	width:5%;
            	text-align: center;
            	color: #ccc;
            	font-weight: bolder;
            }
            
            .p-result{
            	color: #1E90FF;
            	font-weight: bolder;
            }
            .campeao{
            	text-align: center;
            }
            
            .grupo .panel-heading{color: #fff}
            
            .grupo{border: 1px solid #ED9455}
            .grupo .panel-heading{
            	background-color: #ED9455;
            }
           
            .grupoa{border: 1px solid #87CEEB}
            .grupoa .panel-heading{
            	background-color: #87CEEB;
            }
            .grupob{border: 1px solid  #DBA979}
            .grupob .panel-heading{
            	background-color:  #DBA979;
            }
            .grupoc{border: 1px solid #48D1CC}
            .grupoc .panel-heading{
            	background-color: #48D1CC;
            }
            .grupod{border: 1px solid #FFA500}
            .grupod .panel-heading{
            	background-color: #FFA500;
            }
            .grupoe{border: 1px solid #66CDAA}
            .grupoe .panel-heading{
            	background-color: #66CDAA;
            }
            .grupof{border: 1px solid #B0E0E6}
            .grupof .panel-heading{
            	background-color: #B0E0E6;
            }
            .grupog{border: 1px solid #DB7093}
            .grupog .panel-heading{
            	background-color: #DB7093;
            }
            .grupoh{border: 1px solid #DA70D6}
            .grupoh .panel-heading{
            	background-color: #DA70D6;
            }
            .bonusfinal{border: 1px solid #DA70D6}
            .bonusfinal .panel-heading{
            	background-color: #DA70D6;
            }
            
            
.loader {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background-size: 5px;
		background: url('/img/loading.gif') 50% 50% no-repeat rgba(255,255,255,0.9);
	}            

            